table.displaytagTable{
	border: 1px solid #ddd;
	width: 100%;
	margin: 20px 0 20px 0 !important;
	font-size: 0.9em;
}

th,td {
	padding: 2px 4px 2px 4px !important;
	text-align: left;
	vertical-align: top;
}

thead tr {
	background-color: #eaeaea;
}

th.sorted {
	background-color: #eee;
}

th a,th a:visited {
	color: black;
}

th a:hover {
	text-decoration: underline;
	color: black;
}

th.sorted a,th.sortable a {
	background-position: right;
	display: block;
	width: 100%;
}

th.sortable a {
background: url(../imagens/arrow_off.png) center right no-repeat;
}

th.order1 a {
background: url(../imagens/arrow_down.png) center right no-repeat;
}

th.order2 a {
background: url(../imagens/arrow_up.png) center right no-repeat;
}

tr.odd {
	background-color: #fff;
}

tr.tableRowEven,tr.even {
	background-color: #f6f6f6;
}

div.exportlinks {
	background-color: #f4f4f4;
	border: 1px solid #ddd;
	padding: 2px 4px 2px 4px;
	margin: 2px 0 10px 0;
	width: 793px;
}

span.export {
	padding: 0 4px 1px 20px;
	display: inline;
	display: inline-block;
	cursor: pointer;
}

span.excel {
	background: url(../imagens/ico_file_excel.png) center left no-repeat;
}

span.csv {
	background: url(../imagens/ico_file_csv.png) center left no-repeat;
}

span.xml {
	background: url(../imagens/ico_file_xml.png) center left no-repeat;
}

span.pdf {
	background: url(../imagens/ico_file_pdf.png) center left no-repeat;
}

span.rtf {
	background: url(../imagens/ico_file_rtf.png) center left no-repeat;
}

span.pagebanner {
	background-color: #f4f4f4;
	border: 1px solid #ddd;
	padding: 2px 4px 2px 4px;
	width: 793px;
	margin-top: 10px;
	display: block;
	border-bottom: none;
	font-size: 0.9em;
}

span.pagelinks {
	background-color: #f4f4f4;
	border: 1px solid #ddd;
	padding: 2px 4px 2px 4px;
	width: 793px;
	display: block;
	border-top: none;
	margin-bottom: -5px;
	font-size: 0.9em;
}


.group-1 {
    font-weight:bold;
    border-top:1px solid black;
}
.group-2 {
    font-style:italic;
    border-top: 1px solid black;
    text-align: top;

}
.subtotal-sum, .grandtotal-sum {
    font-weight:bold;
    text-align:right;
}
.subtotal-header {
    padding-bottom: 0px;
    border-top: 1px solid white;
    background-color: yellow;
    vertical-align: top;
}

.subtotal-label, .grandtotal-label {
    border-top: 1px solid white;
    font-weight: bold;
}
.grouped-table tr.even {
    background-color: #fff;
}
.grouped-table tr.odd {
    background-color: #fff;
}
.grandtotal-row {
    border-top: 2px solid black;
}

.subtotal
{
	background-color: #E8FFE8;
}

.grandtotal-row, grandtotal-label, grandtotal-sum
{
	background-color: #C4E1FF;
	font-size: 14;
}

.valueAlign
{
	text-align: right;
}

.groupAlign
{
	vertical-align: top;
}

